/* font-styles beggining */
/* headers */
.head1,
.head2,
.head3,
.head4,
.head5,
.head2-clr {
    color: #233354;
    font-weight: 700;
    line-height: 1.25;
}

.head1 {
    font-size: 24px;
    font-weight: 600;
}

.head2 {
    font-size: 17px;
    font-weight: 600;
}

.head2-clr {
    font-size: 16px;
    font-weight: 600;
    color: #888;
}

/* text styles */
.text1 {
    font-size: 22px;
    font-weight: 600;
    color: #233354;
}

.text2 {
    font-size: 14px;
    font-weight: 400;
    color: #888;
}

.text3 {
    font-size: 16px;
    font-weight: 400;
    color: #6a6969;
}

.text4 {
    font-size: 13px;
    font-weight: 1000;
    color: #6f6f6f;
    line-height: 0.8;
}

.text5 {
    font-size: 12px;
    font-weight: 500;
    color: #233354;
}

.text6 {
    font-size: 8px;
    font-weight: 500;
    color: #888;
    line-height: 1.7;
}

/* font size */
.fs-8 {
    font-size: 8px;
}

.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-18 {
    font-size: 18px;
}


/* other styles */
.t-white {
    color: #fff;
}

.preserve-space {
    white-space: pre-wrap;
}

/* font-styles end */


/* layouts */
.layout1 {
    width: 230px;
    height: 110px;
}

.layout2 {
    width: 810px;
    height: 250px;
}

.layout3 {
    width: 270px;
    height: 260px;
}

.layout4 {
    width: 270px;
    height: 110px;
}

.layout5 {
    width: 280px;
    height: 185px;
}

.layout6 {
    width: 620px;
    height: 110px;
}

.layout7 {
    width: 460px;
    height: 345px;
}


/* background color and border for the layouts */
.bg-border {
    background-color: #f4f4ff;
    border-radius: 10px;
}


/* max, min width and height */
.max-190 {
    max-width: 190px;
}

.min-10 {
    min-width: 10px;
}

.min-40 {
    min-width: 40px;
}

.min-130 {
    min-width: 130px;
}

.min-200 {
    min-width: 200px;
}

.min-700 {
    min-width: 700px;
}

.min-h-150 {
    min-height: 150px;
}

.min-max-765 {
    min-width: 765px;
    max-width: 765px;
}


/* aside bar */
.logo img {
    width: 150px;
    margin: 10px auto 40px 10px;
}

.input-search {
    position: relative;
}

.input-search i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}

.input-search input {
    width: 180px;
    background-color: #e3e9f9;
    border-radius: 5px;
    border: 1px solid #c8cede;
    padding: 5px 5px 5px 35px;
}

.highlight {
    width: 220px;
    background-color: #233354;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #c8cede;
    padding: 10px 0;
}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-top: 20px;
    gap: 20px;
    color: #888;
}


/* header  */
.top-menu {
    top: 0;
    width: 1180px;
    background-color: #f4f4ff;
    border: 1px solid #ccc;
    padding: 20px 30px;
}

.head-btn {
    background-color: #dbdbe1;
    border: none;
    border-radius: 5px;
    padding: 3px;
    height: 33px;
    margin: 0 5px;
}


/* shape elements */
.square {
    width: 40px;
    height: 40px;
    background-color: #bdbdc2;
}

.rounded-square {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background-color: #bdbdc2;
}

.circle,
.circle-plus {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #dbdbe1;
}

.circle-plus {
    background-color: #e5e5e8;
}


/* drop-downs */
.month-dd {
    border: 1px solid #dbdbe1;
    border-radius: 5px;
    padding: 5px;
}

#user-dd {
    width: 210px;
    height: 60px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin-bottom: 20px;
}


/* earnings, spendings and savings */
.cid {
    height: 16px;
    border-radius: 10px;
    background-color: #dbdbe1;
    padding: 2px 5px;
}


/* balance summary */
.chart-area {
    position: relative;
    height: 170px;
    width: 100%;
    margin-bottom: 12px;
}

.axis-labels {
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.48px;
    margin-top: 3px;
    padding: 0 4px;
}

.axis-labels .selected {
    font-weight: bold;
    color: #384563;
}

.tooltip {
    position: absolute;
    left: 260px;
    top: 35px;
    background: #384563;
    padding: 7px 16px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(30, 40, 60, 0.08);
    z-index: 2;
    white-space: nowrap;
}

.tooltip-date {
    display: block;
    opacity: 0.8;
    margin-top: 2px;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 89px;
    transform: translateY(-50%);
    border-width: 9px;
    border-style: solid;
    border-color: transparent transparent transparent #384563;
}


/* common for circles */
.master-card,
.bubble-chart,
.exp-status {
    background: #f4f4ff;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}


/* master card */
.master-card {
    background: transparent;
    min-width: 30px;
}

.card {
    width: 230px;
    height: 130px;
    border-radius: 16px;
    background: linear-gradient(to right,
            #20304a 0%,
            #20304a 25%,
            #293754 25%,
            #293754 50%,
            #344062 50%,
            #344062 75%,
            #42506f 75%,
            #42506f 100%);
    box-shadow: 0px 15px 10px #dad9d9;
    padding: 20px;
}

.card-btn {
    background-color: #c8cede;
    border: none;
    border-radius: 5px;
    height: 25px;
}

.overlap-circle-b,
.overlap-circle-w {
    top: 50%;
    width: 13px;
    height: 13px;
}

.overlap-circle-b {
    left: 40%;
    background-color: #000;
    z-index: 1;
}

.overlap-circle-w {
    left: 75%;
    background-color: #d1d1d5;
}


/* customer growth */
.bubble-chart {
    min-width: 140px;
}

.bub-circle1,
.bub-circle2,
.bub-circle3,
.bub-circle4,
.overlap-circle-b,
.overlap-circle-w {
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
}

.bub-circle1 {
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background: #47536b;
}

.bub-circle2 {
    top: 43%;
    left: 17%;
    width: 35px;
    height: 35px;
    background-color: #a9a9b3;
}

.bub-circle3 {
    top: 67%;
    left: 23%;
    width: 60px;
    height: 60px;
    background-color: #63637c;
    z-index: 1;
}

.bub-circle4 {
    top: 80%;
    left: 50%;
    width: 45px;
    height: 45px;
    background-color: #8f8f96;
}

#cust-growth ul {
    gap: 0px;
}

#cust-growth li {
    display: flex;
    align-items: center;
    line-height: 1;
}

#cust-growth li::before {
    content: "•";
    font-size: 35px;
    color: #bdbdc1;
}


/* expenses summary */
.exp-status {
    margin: 0;
}

dt {
    display: flex;
    align-items: center;
}

dt::before {
    content: "•";
    font-size: 35px;
    color: #6f6f6f;
    margin-right: 5px;
}

.progress-center {
    /* positions the top and left corner of the element
            to the center of its parent */
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background: #47536b;
    border-radius: 50%;
    /* shifts the element backwards a half(up and left), so that 
            the center aligns perfectly with its parent */
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.progress-center .label {
    color: #dbdbe1;
    line-height: 0%;
    font-size: 14px;
    opacity: 0.75;
}

.progress-center .amount {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-top: 12px;
}

.bar1 {
    height: 10px;
    border-radius: 10px;
    background-color: #dbdbe1;
}

.bar2 {
    height: 10px;
    width: 170px;
    border-radius: 10px;
    background-color: #47536b;
}


/* admit snap */
.v-bar,
.v-bar,
.v-bar,
.v-bar,
.v-bar {
    width: 8px;
    border-radius: 10px;
    background-color: #dbdbe1;
    display: grid;
    justify-content: center;
    margin: 0 auto;
}

.h80 {
    height: 80px;
}

.h60 {
    height: 60px;
}

.h110 {
    height: 110px;
    background-color: #76839c;
}

.h85 {
    height: 85px;
}

.h40 {
    height: 40px;
}


/* transaction history */
#trans-tab {
    width: 100%;
    border-spacing: 0;
}

#trans-tab th {
    padding: 5px 10px;
}

#trans-tab td {
    padding: 15px 10px;
}

#trans-tab th {
    background: #e5e6ee;
}