body {
    font-family: 'Inter', sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
    padding: 0;
}

main {
    background-color: #dbdeec;
}

aside {
    width: 250px;
    background: #f4f4ff;
    border: 1px solid #ccc;
}

.body {
    margin: 20px;
}

img {
    width: 100%;
}

.max-width {
    max-width: 2000px;
    margin: 0 auto;
}

.mar-auto {
    margin: 0 auto;
}

/* :horizontal grid */
.grid {
    display: flex;
}

/* flex wrap */
.flx-wp {
    flex-wrap: wrap;
    gap: 15px;
}

/* vertical grid */
.grid-v {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inln-blk {
    display: inline-block;
}

/* grid partitions */
.grid2 .grid-sec {
    width: 50%;
}

.grid3 .grid-sec {
    width: 33.33%;
}

.grid4 .grid-sec {
    width: 25%;
}

.grid5 .grid-sec {
    width: 20%;
}

.grid6 .grid-sec {
    width: 16.67%;
}

.grid7 .grid-sec {
    width: 14.29%;
}

/* upper case */
.uc {
    text-transform: uppercase;
}

/* text alignments */
.tal {
    text-align: start;
}

.tac {
    text-align: center;
}

.tar {
    text-align: end;
}

/* horizontal alignments */
.jcs {
    justify-content: flex-start;
}

.jcc {
    justify-content: center;
}

.jce {
    justify-content: flex-end;
}

.jcsb {
    justify-content: space-between;
}

.jcse {
    justify-content: space-evenly;
}

.jcsa {
    justify-content: space-around;
}

/* vertical alignments */
.vs {
    align-items: flex-start;
}

.vc {
    align-items: center;
}

.ve {
    align-items: flex-end;
}

.vm {
    vertical-align: middle;
}